<div class="app-container" layout="column">
	<div class="stats1_1">
        <link type="text/css" rel="stylesheet" href="/ui/modules/apps/perf/app.css"/>

        <span class="rating-container" id="ratingdisplay1_1" ng-click="toggleStats()">
            <span class="rating-class">
                {{class}}
            </span>
            <span class="rating-separator"></span>
            <span class="rating-value" id="ratingdisplay1_2">
                {{rating}}
            </span>
        </span>

        <div class="stats-columns-wrapper" ng-show="statsVisible" ng-click="toggleStats()">
            <div class="stats-column">
                <p class="stats-header">HP</p>
                <p class="stats-value">{{perfPower | number:0}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">lbs</p>
                <p class="stats-value">{{weight | number:0}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Brakes</p>
                <p class="stats-value">{{brakeTorque | number:0}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Grip</p>
                <p class="stats-value">{{avgFriction | number:4}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Torque</p>
                <p class="stats-value">{{perfTorque | number:0}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Drivetrain</p>
                <p class="stats-value">{{drivetrain}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Max RPM</p>
                <p class="stats-value">{{maxRPM | number:0}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Ind</p>
                <p class="stats-value">{{inductionType}}</p>
            </div>

            <div class="stats-column">
                <p class="stats-header">Gearbox</p>
                <p class="stats-value">{{gearboxType | uppercase}} {{gearCount}}</p>
            </div>
        </div>
    </div>

    <div class="vote-panel" ng-show="voteActive">
        <div class="vote-header">
            <span class="vote-title">🗳️ Performance Limit Vote</span>
            <span class="vote-timer">{{voteTimeLeft}}s</span>
        </div>
        
        <div class="vote-options">
            <div class="vote-option" 
                 ng-repeat="opt in voteOptions track by $index"
                 ng-class="{'voted': opt.option === userVote, 'winner': opt.votes > 0 && opt.votes === maxVotes}"
                 ng-click="castVote(opt.option)">
                <div class="vote-option-value">{{opt.option}}</div>
                <div class="vote-option-bar">
                    <div class="vote-option-bar-fill" ng-style="{'width': opt.percentage + '%'}"></div>
                </div>
                <div class="vote-option-count">{{opt.votes}} votes</div>
            </div>
        </div>
        
        <div class="vote-footer">
            <span ng-if="userVote">You voted: {{userVote}}</span>
            <span ng-if="!userVote">Click to vote!</span>
        </div>
    </div>
</div>
